<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="ProjectViewState">
        <option name="hideEmptyMiddlePackages" value="true" />
        <option name="showLibraryMembers" value="false" />
    </component>
    <component name="PropertiesComponent"><![CDATA[{
  "keyToString": {
    "android.injected.build.model.only.advanced": "true",
    "android.enableJetifier": "true",
    "android.useAndroidX": "true",
    "RunOnceActivity.OpenProjectViewOnStart": "true",
    "RunOnceActivity.ShowReadmeOnStart": "true",
    "RunOnceActivity.currencies.Currency": "KES",
    "RunOnceActivity.wasOpenedBefore": "true",
    "android.defaults.buildfeatures.buildconfig": "true",
    "android.defaults.buildfeatures.resvalues": "true",
    "android.defaults.buildfeatures.shaders": "true",
    "io.injected.gradle.build.override.paths": "true"
  }
}]]></component>
